*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-white: #f0f0f0;
    --main-red: #fbfbfb;
    --main-blue: #45567d;
    --main-gray: #1f1f1f;
}

html {
    box-sizing: border-box;
    font-size: 60%;
    scroll-behavior: smooth;
    display: block;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    display: block;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: rgba(19, 11, 11, 0.4) 10px 10px 10px;
    z-index: 10;
    background: linear-gradient(45deg, rgb(0, 0, 0), var(--main-red));
    unicode-bidi: isolate;
}

.nav-list {
    margin-right: 2rem;
    display: flex;
}

ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    color: #1f1f1f;
    border-radius: 45px;
    transition: background 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
}

.nav-list a:hover {
    background: #000406;
    color: #ffffff;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}

a {
    color: var(--main-white);
    text-decoration: none;
}

/* a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
} */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-image: url("src/6617406.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


section {
    display: block;
    unicode-bidi: isolate;
}

h1 {
    font-size: 6rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

h1:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

h1, h2 {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-align: center;
}

.welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: #ffd5d5;
    transition: all 0.5s ease-in-out;
}

/* Efek transisi gradasi saat hover */
.welcome-section > p:hover {
    background-image: linear-gradient(90deg, #ff7eb3, #ffffff, #ff7eb3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* font-weight: bold; */
    font-style: italic;
    background-size: 200% auto;
    background-position: center;
}




p {
    display: block;
}

.project {
    box-shadow: rgba(0, 0, 0, 0.667) 1px 1px 2px;
    background: var(--main-gray);
    border-radius: 2px;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: linear-gradient(#005386, #ffffff);
}

.projects-section-header {
    max-width: 640px;
    margin: 0px auto 6rem;
    border-bottom: 0.2rem solid var(--main-white);
}

h2 {
    font-size: 4.2rem;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    max-width: 1280px;
    gap: 4rem;
    margin: 0px auto 6rem;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

img {
    display: block;
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: #fefefe;
    color: black;
}

.btn {
    display: inline-block;
    padding:  1rem 2rem;
    border-radius: 2px;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 free";
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0px 2rem;
    background: var(--main-gray);
}

.contact-section-header > h2 {
    font-size: 6rem;
    margin: 0;
}

.contact-section-header > p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 1.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}


i {
    font-style: italic;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
    unicode-bidi: isolate;
}

footer > p {
    margin: 2rem;
}

.project:hover .code {
    color: #ff7f50;
}














@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
    .nav {
        justify-content: center;
    }
    .nav-list {
        margin: 0px 1rem;
    }
    .projects-section-header {
        font-size: 4rem;
    }
    .contact-section-header > h2 {
        font-size: 4rem;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 75em) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
}